<h3>EstimatePopUp</h3>
<label for="meetingID">Meeting ID</label>
<input type="text" id="meetingID"  />
<label for="txtCardNum">Card Number</label>
<input id="txtCardNum" type="text" disabled placeholder="Card Number" />
<label for="txtEstimate">Estimate: </label>
<input id="txtEstimate" type="text" placeholder="Enter estimation" />
@code {

}
